<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAq6X5b9x8_J6dn5WUIoXfC3XySR_hIzRM</string>
	<key>GCM_SENDER_ID</key>
	<string>880226170899</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.examenPmdmPspCarlosgarciaramirez</string>
	<key>PROJECT_ID</key>
	<string>examen-pmdm-psp-cgr</string>
	<key>STORAGE_BUCKET</key>
	<string>examen-pmdm-psp-cgr.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:880226170899:ios:5b239f7dc9145341a367e6</string>
</dict>
</plist>